*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden; 
}

body {
    background: linear-gradient(180deg, rgb(100, 165, 189) 0%, rgb(13, 51, 65) 75%);
    font-family: "Montserrat";
    color: white;
    margin-bottom: 0;
}

.trailer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 80em;
    height: 45em;
    border-radius: 1.5em;
}

.title-wrapper, .credits-wrapper, .description-wrapper{
    width: 15em;
    height: 10em; 
    width: 80vw; 
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, rgb(100, 165, 189) 0%, rgb(13, 51, 65) 50%);
    margin-top: 1em;
    border-radius: 2em;
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
}

button{
    margin-right: 4em;
    height: 4em;
    border-radius: 1em;
    background-color: rgb(33, 110, 138);
    border: 2px solid rgb(252, 254, 255);
    width: 7em;
    align-self: center;
    transition: background-color 1s;
    color: white;    
    font-family: "Montserrat";
}
button:hover{
    background-color: rgba(63, 171, 210, 1);
}

.credits-wrapper{
    height: 25em;
}

.description-wrapper{
    height: 20em;
    margin-bottom: 6em;
}

.title-wrapper__heading{
    padding-top: 2.5em;
    margin-left: 1em;
    font-size: 1.5em;
}

.credits-wrapper__heading, .description-wrapper__heading{
    padding-top: 1em;
    margin-left: 1em;
    font-size: 1em;
}

.movie-details{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
}

dt, dd{
    text-align: left;
    margin: 1em;
}

.movie-description{
    margin: 3em 6em;
}
.navigation{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;  
    height: 4.7em;
}

.hamburger-menu{
    position: fixed;
    top: 1.4em;
    right: 1.2em;
    flex-direction: column;
    justify-content: space-between;
    width: 2.625em;
    height: 2em;
    z-index: 3;  

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger-menu::before, .hamburger-menu::after, .hamburger-menu__bar {
    height: 0.3125em;
    width: 100%;
    background-color: white;
    border-radius: 0.625em;
    display: block;
    content: "";
    position: absolute;
    transition: 0.5s;
}

.hamburger-menu::before{
    top: .8125em;
}

.hamburger-menu::after{
    top: 1.625em;
}

.hamburger-menu.is-active::after{
    transform: rotate(-45deg) translate(6px, -9px);
}

.hamburger-menu.is-active::before{
    transform: rotate(45deg) translate(0.5px, 3px);
}

.hamburger-menu.is-active .hamburger-menu__bar{
    display: none;
}

.navigation--mobile{
    position: fixed;
    top: 4.4em;
    background-color: white;
    height: auto;
    z-index: 1;
    text-align: center;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 350ms ease-in-out;
}

.navigation__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__list-item{
    text-align: center;
    margin: 1em;
    padding: 0;
    list-style: none;
    font-weight: bold;
    padding: 1em;
}

.navigation--mobile .navigation__links{
    text-decoration: none;
    border-radius: 0px;
    padding: 0;
    text-decoration: none;
    margin-left: 0;
    transition: opacity 125ms ease-in-out ;
    color: black;
    padding: 1em;
}
  
.navigation__theater-logo{
    margin-left: .5em;
    width: 3.75em;
}

.login-link{
    border: 2px solid white;
    border-radius: .5em;
}
.navigation__links, .login-link{
    color: white;
    transition: color .5s;
}

.navigation__links:hover, .login-link:hover{
    color: rgba(63, 171, 210, 1);
    border-color: rgba(63, 171, 210, 1);
}

.transformed{
    transform: scale(1,1);
    overflow-y: hidden;
}

.navigation--desktop{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 0;
    height: 4.4em;
    border-bottom: 1.5px solid white;
    z-index: 1;
}

.navigation--desktop .navigation__list{
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation__links{
    color: white;
    text-decoration: none;
    padding: 1em;
    text-align: center;
}

.login-icon__button, .login-icon-link{
    width: 2.8125em;
    margin-left: auto;
    margin-right: 5em; 
    color: white;
    transition: 1s;
}

.login-icon__button{
    font-size: 2em;
    margin-top: .2em;
}

.login-icon__button:hover{
    color: rgba(63, 171, 210, 1);
}

@media(min-width: 1021px){
    .hamburger-menu{
        display: none;
    }
    .navigation--mobile{
        display: none;
    }
    .login-icon__button{
        display: none !important;
    }
}

@media(max-width: 1286px){
    .trailer{
        width: 60em;
        height: 30em;
        transition: all 1s;
    }
    .movie-description{
        margin: 1em 2em;
    }
    .description-wrapper{
        height: 22.5em;
        transition: all 1s;
    }
}

@media(max-width: 1020px){
    .navigation--desktop{
        display: absolute;
    }
    .navigation--desktop .navigation__links{
        display: none;
    }
    .navigation--desktop .navigation__list-item{
        display: none;
    }
    .trailer{
        width: 38em;
        height: 20em;
        transition: all 1s;
    }
    .description-wrapper{
        height: 25em;
        transition: all 1s;
    }
}


@media(max-width: 620px){
    .trailer{
        width: 25em;
        height: 15em;
        transition: all 1s;
    }
    .credits-wrapper{
        height: 32.5em;
        transition: all 1s;
    }
       
    .description-wrapper{
        height: 25.5em; 
        transition: all 1s;
    }
}

@media(max-width: 407px){
    .description-wrapper{
        height: 38.5em;
        transition: all 1s;
    }
    .trailer{
        width: 17em;
        height: 10em;
        transition: all 1s;
    }
}