*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden; 
}

body {
    background: linear-gradient(180deg, rgb(100, 165, 189) 0%, rgb(13, 51, 65) 50%);
    background-size: cover;
    font-family: "Montserrat";
    color: white;
    margin-bottom: 0;
}

.login-wrapper  h1, .sign-up-wrapper h1{
    text-align: center;
    margin-top: 3em;
    margin-bottom: .5em;
}

#submit{
    width: 20em;
    height: 4em; 
    border: 3px solid white;
    border-radius: 1em;
    background-color: rgba(13, 51, 65, 0.6);
    
    margin: .5em;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    transition: background-color 1s;
    font-family: "Montserrat";
}

#submit:hover{
    background-color: rgba(100, 165, 189,0.6);
}

.login-wrapper, .sign-up-wrapper{
    background:linear-gradient(180deg, rgb(100, 165, 189) 0%, rgba(221,220,222,1) 50%, rgb(13, 51, 65) 100%);
    height: 70%;
    width: 40vw;
    text-align: center;
    padding-top: 1em;
    transform-origin: top;
    transition: transform 350ms ease-in-out;
    border-radius: 3em;
    border: 2px solid white;
    margin: auto;
    margin-top: 5em;
}

#username, #password, #signup-username, #signup-password, #signup-date-of-birth, #signup-name, #signup-email{
    padding: 0 5px;
    height: 40px;
    margin: 1em;
    background: none;
    outline: none;
    border-bottom: 3px solid white;
    border-radius: .5em;
    border-top: none;
    border-left: none;
    border-right: none;
    color:black;
    font-family: "Montserrat";
    font-size: 1em;
}

::placeholder {
    color: white;
}

.back-button{
    font-size: 3em;
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-top: -.2em;
    color: white;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.back-button__link{
   transition: color .5s ease-in-out; 
}

.back-button__link:visited{
    color: white;
}

.back-button__link:hover{
    color: rgba(13, 51, 65, 0.6);
}

@media(max-width: 900px){
    #username, #password, #signup-username, #signup-password, #signup-date-of-birth, #signup-name, #signup-email, #submit{
        width: 17em;
    }
    .login-wrapper, .sign-up-wrapper{
        width: 20em;
    }
}

@media(max-height:847px){
    #username, #password, #signup-username, #signup-password, #signup-date-of-birth, #signup-name, #signup-email, #submit{
        height: 2em;
        width: 10em;
    }
    #submit{
        height: 2.5em;
    }
    .login-wrapper{
        width:20em;
        margin-bottom: 2em;
        height: 70vh;
    }
    .sign-up-wrapper{
        width: 20em;
        margin-bottom: 2em;
        height: 70vh;
    }
    
    .back-button{
        font-size: 2em;
    }
    .login-wrapper  h1, .sign-up-wrapper h1{
        text-align: center;
        margin-top: 2.5em;
    }
}

@media(max-height:720px){
    .login-wrapper, .sign-up-wrapper{
        height: 80vh;
    }
}

@media(max-height:624px){
    .login-wrapper, .sign-up-wrapper{
        height: 100vh;
    }
}

@media(max-height: 507px){
    .login-wrapper, .sign-up-wrapper{
        height: 130vh;
    }
}
@media(max-width:350px) {
    #username, #password, #signup-username, #signup-password, #signup-date-of-birth, #signup-name, #signup-email, #submit{
        width: 11em;
    }
    .sign-up-wrapper{
        width: 15em;
        height: 100vh;
        margin-bottom: 1em;
    }
    .login-wrapper{
        width: 15em;
        margin-bottom: 1em;
    }
    .back-button{
        font-size: 2em;
    }
}