button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4em;
    border-radius: 1em;
    background-color: rgb(33, 110, 138);
    border: 2px solid rgb(252, 254, 255);
    width: 7em;
    align-self: center;
    transition: background-color 1s;
    color: white;    
    font-family: "Montserrat";
}
button:hover{
    background-color: rgba(63, 171, 210, 1);
}