doctype html 
html
    include head.pug
    body
        include nav.pug
        header
            .featured-background
                img.featured__image(src="images/spirited_away.jpg", alt="Poster of the Movie Spirited Away")
        .movies-container-one              
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id1
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id2
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id3
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id4
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id5
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id6
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id7
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id8
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id9
                h1.movie-card__header 
            .movie-card
                .movie-card__bottom
                img.movie-card__poster#id10
                h1.movie-card__header 
        .pagination 
            a.pagination__link.active(href="index.html") 1
            a.pagination__link(href="index-page-2.html") 2  
        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
        script(src="https://kit.fontawesome.com/a4720b20e9.js" crossorigin="anonymous")
        script(src="js/main.js")  
        script(src="db/database.js")
    footer